body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(236,236,236); */
    background-image: url("./img/background.jpeg");
    background-repeat: repeat;
    /* background-size:100%; */
  }
  
  html {
    height: 100%
  }
  
  * {
    box-sizing: border-box;
  }
  
  .topnav {
    background-color: #C0111F;
    overflow: hidden;
    /* border: black 2px solid; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    /* border: black 2px solid; */
    margin-left: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: whitesmoke;
  
  }
  
  
  div>a>img {
    min-height: 50px;
    max-height: 50px;
    top: auto;
    /* border: 2px black solid; */
  }
  
  #logocom {
    margin-left: auto;
    /* border: 2px solid black; */
  
  }
  
  #goandtake img {
    max-height: 56px;
    /* border: black 2px solid; */
  }
  
  #goandtake {
    flex: 1 1 auto;
    align-items: center;
  }
  
  #navabove {
    display: flex;
    height: 56px;
    justify-content: flex-end;
    flex: 99 1 45%
  }

  .outercontainer {
    /* border: red 3px solid; */
    max-width: 1100px;
    margin: auto;
    background-color: #003278;
  }

  article{
    display: flex;
    flex-direction: column;
    /* background-color: #003278; */
    /* justify-content: center; */
    background-color: #131a20;
    /* border: yellow 2px solid; */
    
  }

  .inarticle{
    flex: 10;
    color: white;
    /* border: black 2px solid; */
    margin: auto 20px;
    /* font-size: 1.2em; */
  }

  .title-article{
    /* border: red solid 2px; */
    color: white;
    padding-left: 100px;
    font-size: 2em;
    /* background-color: #131a20; */
  }

  .content{
    /* border: red solid 2px; */
    top: 60px;
    display: flex;
    width: 950px;
    border-radius: 8px;
    margin: 0 auto;
    /* background-color: #131a20; */
    /* position: absolute; */
  }

  .content p{
    /* flex: 1; */
    display: block;
    /* border: red solid 2px; */
  }
  .space{
    flex: 1;
  }
  #content{
    line-height: 180%;
    font-size: 20px;
    flex: 8;
  }

  .top-bg{
    /* border: rebeccapurple 2px solid; */
    text-align: center;
    background-color: #131a20;
    
  }
  
  .top-bg img{
    max-width: 1100px;
    border-radius: 5px;
    /* max-width: 1500px; */
    height: auto;
  }
  
  .bot-bg{
    /* border: rebeccapurple 2px solid; */
    text-align: center;
    background-color: #003278;
  }
  
  .bot-bg img{
    max-width: 100%;
    /* max-width: 1500px; */
    height: auto;
  }

  .logo{
    display: flex;
    /* border: yellow solid 2px; */
  }

  .logo-uni{
    width: 80%;
    display: flex;
    margin: 0 auto;
    /* border: red solid 2px; */
    justify-content: center;
    background-color: #003278;
    border-radius: 8px;
    margin-bottom: 50px;
  }

  .logo-uni div h2{
    text-align: center;
    color: white;
  }

  .margin-logo-uni{
    margin-right: 20px;
    /* background-color: #003278; */
  }

  .champ-name{
    border-radius: 8px;
    display: flex;
    color: white;
    background-color: #003278;
    width: 80%;
    margin: 0 auto;
    /* border:  red solid 2px; */
    justify-content: center;
    
  }


  .field-img img{
    width: 450px;
    border-radius: 5px;
  }

  .field-img{
    margin-top: 15px;
    margin-right: 5px;
    /* border: red solid 2px; */
  }

  .name-field{
    padding-left: 10px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 180%;
    /* align-self: center; */
  }

  


