body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(236,236,236); */
    background-image: url("./img/background.jpeg");
    background-repeat: repeat;
    /* background-size:100%; */
  }
  
  html {
    height: 100%
  }
  
  * {
    box-sizing: border-box;
  }
  
  .topnav {
    background-color: #C0111F;
    overflow: hidden;
    /* border: black 2px solid; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    /* border: black 2px solid; */
    margin-left: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: whitesmoke;
  
  }
  
  
  div>a>img {
    min-height: 50px;
    max-height: 50px;
    top: auto;
    /* border: 2px black solid; */
  }
  
  #logocom {
    margin-left: auto;
    /* border: 2px solid black; */
  
  }
  
  #goandtake img {
    max-height: 56px;
    /* border: black 2px solid; */
  }
  
  #goandtake {
    flex: 1 1 auto;
    align-items: center;
  }
  
  #navabove {
    display: flex;
    height: 56px;
    justify-content: flex-end;
    flex: 99 1 45%
  }

  .outercontainer {
    /* border: red 3px solid; */
    max-width: 1200px;
    margin: auto;
    background-color: #003278;
  }

  .top-bg{
    /* border: rebeccapurple 2px solid; */
    text-align: center;
  }

  .top-bg img{
    width: 100%;
    /* max-width: 1500px; */
    height: auto;
  }


  #tabs ul li > a { 
    background-color:#C0111F; 
    color: #d2d2d2;
    font-size: 30px;
    
}

#tabs ul li{
    border: none !important;
}
 


 #tabs ul{
    background-color: #C0111F;
 }

 #tabs{
    background-color: #003278 !important;
 }

 .select{
    background-color: #003278 !important;
    color: #f5f5f5 !important;
 }

 .grid-container{
    display: grid;
    grid-template-columns: 185px 185px 185px 185px 185px;
    gap: 35px;
    background-color: #003278;
    padding: 10px;
    justify-content: center;
    
 }

 .grid-container > div {
    background-color: white;
    /* border: 1px solid black; */
    text-align: center;
    
  }


 .grid-item span{
    /* display: flex; */
    font-size: 18px;
    font-weight: bolder;
    color: black;
 }
 
 .grid-item div img{
    /* display: flex; */
    width: 120px;
 }

 #tim{
    width: 180px;
 }

 #ecker{
    width: 155px;
 }

 #maddux{
    width: 180px;
 }

.grid-item a{
    display: block;
    /* border: red 2px solid; */
    text-decoration: none;
}
 
 

 
