body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(236,236,236); */
    background-image: url("../img/background.jpeg");
    background-repeat: repeat;
    /* background-size:100%; */
  }
  
  html {
    height: 100%
  }
  
  * {
    box-sizing: border-box;
  }
  
  .topnav {
    background-color: #C0111F;
    overflow: hidden;
    /* border: black 2px solid; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    /* border: black 2px solid; */
    margin-left: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: whitesmoke;
  
  }
  
  
  div>a>img {
    min-height: 50px;
    max-height: 50px;
    top: auto;
    /* border: 2px black solid; */
  }
  
  #logocom {
    margin-left: auto;
    /* border: 2px solid black; */
  
  }
  
  #goandtake img {
    max-height: 56px;
    /* border: black 2px solid; */
  }
  
  #goandtake {
    flex: 1 1 auto;
    align-items: center;
  }
  
  #navabove {
    display: flex;
    height: 56px;
    justify-content: flex-end;
    flex: 99 1 45%
  }

  .outercontainer {
    /* border: red 3px solid; */
    max-width: 1200px;
    margin: auto;
    background-color: #003278;
  }

  article{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #e5e5e5f4;
    /* border: yellow 2px solid; */
    
  }

  .inarticle{
    flex: 10;
    /* border: black 2px solid; */
    margin: auto 10px;
    font-size: 2em;
  }

  .content{
    top: 60px;
    display: flex;
    /* position: absolute; */
  }

  .content p{
    /* flex: 1; */
    display: block;
    /* border: red solid 2px; */
  }
  .space{
    flex: 1;
  }
  #content{
    line-height: 180%;
    font-size: 24px;
    flex: 8;
  }

.team{
    justify-content: center;
    display: flex;
}

.t1{
    border: red solid 2px;
    flex: 4;
}

#nl{
    margin-left: auto;
}

.empty{
    flex: 1;
}

.t1 ol li{
    font-size: 1.2em;
}

.t1 ol{
    line-height: 190%;
}

.t1 h3{
    margin-top: 5px;
    font-size: 1.5em;
    /* border: red 2px solid; */
}

.al-team{
    display: flex;
}

.team-img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#bracket{
    border: red solid 2px;
}

#bracket-tb{
    border: yellow 2px solid;
    margin-left: auto;
    margin-right: auto;
}

